{
  "parser": "@typescript-eslint/parser",
  "plugins": ["no-only-tests", "unicorn", "unused-imports", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "prettier/prettier": "error",
    "no-only-tests/no-only-tests": "error",
    "unicorn/filename-case": [
      "error",
      {
        "case": "kebabCase",
        "ignore": ["\\.d\\.ts$"]
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error"
  },
  "settings": {
    "react": {
      "version": "18.2.0"
    }
  }
}
